<div class="container">
    <div class="d-flex justify-content-center" >
        <img src="../../../assets/earth.jpg" class="img-fluid"/>
    </div>

    <br/><br/>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/capsule.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">We use different capsule models. Discover them.</p>
                  <button class="btn btn-success" routerLink="/capsules"> Click here</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/launch.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Discover some of our launches.</p>
                  <button class="btn btn-success" routerLink="/launches"> Click here</button>
                </div>
            </div>
        </div>
    </div>
</div>